In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [4]:
data_df=pd.read_csv('C:\\Users\\USER\\Desktop\\kasnsed\\heart_failure_clinical_records_dataset.csv')
data_df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [5]:
data_df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [9]:
y=data_df['DEATH_EVENT']
x=data_df.drop('DEATH_EVENT',axis=1)
print(x.head())
print(y.head())

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    1  265000.00               1.9           130    1
1                    0  263358.03               1.1           136    1
2                    0  162000.00               1.3           129    1
3                    0  210000.00               1.9           137    1
4                    0  327000.00               2.7           116    0

   smoking  time
0        0     4
1        0     6
2        1     7
3        0     7
4        0     8
0    1
1    1
2    1
3    1
4    1
Name: DEATH_EVENT, dtype: int64

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)
#we will use a standard scaler to scale the feature preprocessing
scaler=StandardScaler()
scale=scaler.fit(x_train)
x_train=scale.transform(x_train)
x_test=scale.transform(x_test)

In [12]:
#creating the logistic model
model=LogisticRegression()
model.fit(x_train,y_train)
pred=model.predict(x_test)

In [13]:
score=accuracy_score(y_test,pred)
score

0.7666666666666667

In [20]:
#creating a confusion matrix
confusion_matrix=(y_test,pred)
confusion_matrix

(45     1
 83     0
 4      1
 76     0
 80     0
 115    0
 61     1
 272    0
 219    0
 101    0
 153    0
 187    1
 280    0
 30     1
 254    0
 33     0
 0      1
 133    0
 292    0
 99     0
 63     1
 13     1
 3      1
 260    0
 210    0
 96     0
 286    0
 112    0
 148    1
 47     1
 225    0
 138    0
 156    0
 69     1
 205    0
 38     0
 100    0
 214    0
 143    0
 166    0
 223    0
 168    0
 184    1
 1      1
 216    0
 295    0
 118    0
 164    1
 252    0
 139    0
 157    0
 234    0
 212    0
 145    0
 102    0
 199    0
 151    0
 283    0
 25     1
 8      1
 Name: DEATH_EVENT, dtype: int64,
 array([1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0], dtype=int64))

In [26]:
matrix=classification_report(y_test,pred)
print('classification report:\n',matrix)

classification report:
               precision    recall  f1-score   support

           0       0.84      0.84      0.84        43
           1       0.59      0.59      0.59        17

    accuracy                           0.77        60
   macro avg       0.71      0.71      0.71        60
weighted avg       0.77      0.77      0.77        60